@import "../utils/mix";
@import "../utils/function";
@import "../helpers/variables";
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

.allstaritem_back {
  border-radius: 2%;
  background-image: url(../../nbaWeb/1126209.png);
  height: 424px;
}
.small_card {
  &:hover .card {
    box-shadow: 0 20px 20px #dddd;
  }
  &:hover .btn-nbaBlue {
    background-color: blue;
  }
}

.btnRwd {
  width: 90%;
  // width: inherit;
}
@include maxpc() {
  .imgRwd {
    left: 40% !important;
  }
  .fsRwd {
    font-size: 32px;
  }
  .btnRwd {
    a {
      font-size: 48px;
    }
  }
}
@include minipc() {
  .imgRwd {
    left: 0%;
  }
}
