@import "../utils/mix";
@import "../utils/function";
@import "../helpers/variables";
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.navbar {
  .navbar-brand {
    @include hide_text;
    width: 50px;
    height: 50px;
    border: 2px black solid;
    border-radius: 50%;
    background-color: #fff;
    :hover h1 {
      color: $nbaRed !important;
    }
  }
  h1 {
    color: $black !important;
    &:hover {
      color: $nbaRed !important;
    }
  }
  .navbar-nav .nav-link {
    color: $black !important;
    font-weight: bold;
    &:hover {
      color: $nbaRed !important;
    }
  }
  :active {
    color: $nbaRed;
  }
  .navbar-nav .nav_pill {
    color: #fff;
    // 這邊特別要加& 不然會指一條直的陰影
    &:hover {
      box-shadow: 0 10px 1px rgba(0, 0, 0, 1);
    }
  }
}

.banner {
  background-image: url(../../nbaWeb/john-villablanca-_7EXgSQ98ew-unsplash.jpg);
  width: 100%;
  height: 810px;
}
@include pad() {
  .banner {
    height: 600px;
    background-position: top center;
  }
}

.new_product_img {
  width: 100%;
  height: 312px;
  position: absolute;
  border-radius: 3%;
  color: white;
  padding-left: 10px;
  background-image: linear-gradient(180deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
  display: none;
}
// 要使用外面那層的CLS(.card) 不然本身圖片CLS(.card-img)會沒有效果 flex排版要放在hover裡 才不會重置跑版
.card:hover .new_product_img {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rank_card {
  // 連動hover 前面不用& 但要用:不能用. 後面不能用 ~
  :hover a {
    color: $nbaBlue !important;
  }
  :hover .card {
    box-shadow: 0 20px 20px #dddd;
  }
  :hover .img_back001 {
    background-image: url(../../nbaWeb/olivier-collet-H7cIqigZOBo-unsplash.jpg);
    background-position: center center;
    background-size: cover;
  }
  :hover .img_back002 {
    background-image: url(../../nbaWeb/PNG-images-NBA-Players-3png.png);
    background-position: center center;
    background-size: none;
    background-repeat: no-repeat;
  }
  :hover .img_back003 {
    background-image: url(../../nbaWeb/tyler-martoia-nVpT1jeu3f0-unsplash.jpg);
    background-position: center center;
    background-size: cover;
  }
  //球星列表
  :hover .img_back004 {
    background-image: url(../../nbaWeb/PNG-images-NBA-Players-58png.png);
    background-position: bottom center;
    background-size: none;
    background-repeat: no-repeat;
  }
  :hover .img_back005 {
    background-image: url(../../nbaWeb/PNG-images-NBA-Players-60png.png);
    background-position: bottom center;
    background-size: fill;
    background-repeat: no-repeat;
  }
  :hover .img_back006 {
    background-image: url(../../nbaWeb/PNG-images-NBA-Players-70png.png);
    background-position: bottom center;
    background-size: cover;
  }
  :hover .card-img-top {
    display: none;
  }
  .img_back {
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-radius: 3%;
  }
  .card-text {
    white-space: nowrap; /*段落不自動換行*/
    overflow: hidden; /*超過寬度隱藏*/
    text-overflow: ellipsis; /*文字省略號*/
    height: 80px;
    -webkit-line-clamp: 2;
    display: box;
    -webkit-box-orient: vertical;
  }
  a:after {
    content: "";
    position: absolute;
    top: 90%;
    left: 10%;
    background: $gray-500;
    width: 80%;
    height: 1px;
  }
  :hover a {
    color: $nbaRed;
  }
}
@include sellbtn_Rwd;
