@import "../utils/mix";
@import "../utils/function";
@import "../helpers/variables";
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.allstaritem_back {
  border-radius: 2%;
  background-image: url(../../nbaWeb/1126209.png);
  height: 424px;
}

@include pc() {
  .imgRwd {
    left: 30%;
  }
  .fsRwd {
    font-size: 32px;
  }
  .btnRwd {
    max-width: inherit;
  }
}
